ion-content{
    --background: #fff url('src/assets/img/beach-back.jpg') no-repeat center center / cover;

    img{
        margin:auto;
        left:0;
        right:0;
        top:10em;
        position:absolute;
    }

    .pokedex-button{
        --background: #ef5350;
        --background-hover: #c62828;
        color:white;
        position:absolute;
        left:0;
        right:0;
        bottom:8em;
        margin:auto;
        width:auto;
        padding: 0 2em;
    }
}
