ion-content{
    --background: #fff url('src/assets/img/beach-back.jpg') no-repeat center center / cover;

    .logo {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
        margin-left: 6px !important;
        color: #3399ff !important;
        mask-image: url('src/assets/img/pokedex-logo-letters.png');
    }

    img{
        margin:auto;
        left:0;
        right:0;
        top:10em;
        position:absolute;
    }

    .pokedex-button{
        position:absolute;
        left:0;
        right:0;
        bottom:8em;
        margin:auto;
        width:auto;
        padding: 0 2em;
    }
}
